@model IEnumerable<PetApp.Models.AdoptionRequest>
@{
    ViewData["Title"] = "AnimalRequests";
    Layout = "~/Views/AdoptionRequests/_ShelterLayout.cshtml";
}
<link rel="stylesheet" href="~/css/animal_profile.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@if (Model.Count() == 0)
{
    <div class="alert alert-light col-md-9 offset-md-2 mx-auto" role="alert">
        <h4 class="alert-heading">No adoption requests!</h4>
        <p> There are adoption requests here for now.</p>
        <p> When someone will place an adoption request it will appear here.</p>
    </div>}
else
{
    @foreach (var req in Model)
    {
        <div class="card" style="margin: 15px;width: 1075px;">
            <div class="panel-body">
                <div class="row">
                    <div class="container">
                        <div class="col-xs-2" style="float: left">
                            <img class="img-responsive" src="~/Images/Animals/@req.AnimalImage" style="margin: 10px 25px 10px 25px; height:auto; width:150px;">
                        </div>
                        <div class="container" style="float: none">
                            <div class="col-md-4" style="padding-top:10px; ">
                                <h5 class="product-name">@req.AnimalName</h5>
                            </div>
                            <div class="col-md-4" style="padding-top:10px">
                                <h5 class="product-name">From: @req.UserName</h5>
                            </div>
                            <div class="col-md-4" style="padding-top:10px;">
                                <h5 class="product-name">Message: @req.AdoptionMessasge</h5>
                            </div>
                            <div class="col-md-4" style="padding-top:40px; display:none">
                                <h5 class="product-name" id="requestId" data-animal="@req.Id">@req.Id</h5>
                            </div>
                            <div class="col-md-4 text-right" style="padding-top:40px">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button type="button" data-animal="@req.AnimalId" data-req-id="@req.Id" class="btn deny no" style="margin-bottom: 5px;">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" data-animal="@req.AnimalId" data-req-id="@req.Id" class="btn accept yes" style="margin-left: 20px;margin-bottom: 5px;">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section Scripts{
    <script src="~/js/handlerequests.js"></script>
}

