@model PetApp.Models.Animal
@using Microsoft.AspNetCore.Identity
@using PetApp.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/novideo.css" />


<!--Section: Block Content-->
<section class="mb-5" style="margin-top:75px;">

    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <div class="row product-gallery mx-1">

                    <div class="col-12 mb-0">
                        <figure class="view overlay rounded z-depth-1 main-img" style="width: 400px;">
                            <img src="~/Images/Animals/@Model.Image"
                                 class="img-fluid z-depth-1" width="400">
                        </figure>
                        @*<figure class="view overlay rounded z-depth-1" style="visibility: hidden;">
                                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg"
                                       data-size="710x823">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg"
                                             class="img-fluid z-depth-1">
                                    </a>
                                </figure>
                                <figure class="view overlay rounded z-depth-1" style="visibility: hidden;">
                                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg"
                                       data-size="710x823">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg"
                                             class="img-fluid z-depth-1">
                                    </a>
                                </figure>
                                <figure class="view overlay rounded z-depth-1" style="visibility: hidden;">
                                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
                                       data-size="710x823">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
                                             class="img-fluid z-depth-1">
                                    </a>
                                </figure>
                            </div>
                            <div class="col-12">*@
                        @*<div class="row">
                                <div class="col-3">
                                    <div class="view overlay rounded z-depth-1 gallery-item">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg"
                                             class="img-fluid">
                                        <div class="mask rgba-white-slight"></div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="view overlay rounded z-depth-1 gallery-item">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg"
                                             class="img-fluid">
                                        <div class="mask rgba-white-slight"></div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="view overlay rounded z-depth-1 gallery-item">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
                                             class="img-fluid">
                                        <div class="mask rgba-white-slight"></div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="view overlay rounded z-depth-1 gallery-item">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
                                             class="img-fluid">
                                        <div class="mask rgba-white-slight"></div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-6">

            <h3>@Model.Name</h3>

            <p class="mb-2 text-muted text-uppercase small">@Model.Type</p>
            <p>
                <span class="mr-1">
                    <strong>
                        @Model.Breed<span class="separator">|</span>
                        @Model.Age<span class="separator">|</span>
                        @Model.Gender
                    </strong>
                </span>
            </p>
            <p class="pt-1">
                @Model.Description
            </p>
            <p class="pt-1">
                Size: @Model.Size
            </p>
            <p class="pt-1">
                Coat Length: @Model.Hair
            </p>
            <p class="pt-1">
                Characteristics: @String.Join(", ", Model.Characteristics)
            </p>
            <p class="pt-1">
                Gets along with: @String.Join(", ", Model.GetsAlongWith)
            </p>
            <br />
            <div id="hide" style="display:none">
                <button type="button" id="adoptPet" onclick="showDiv()" class="btn btn-primary btn-md mr-1 mb-2" style="margin-right:30px;">Adopt Me!</button>
            </div>
            <div id="asd1" style="display:none">
                <button type="button" id="adoptPetU" class="btn btn-primary btn-md mr-1 mb-2" style="margin-right:30px;background-color:slategrey">Adopt Me!</button>
            </div>
            <form id="contact-form" name="contact-form" method="POST">
                <input type="hidden" value="@Model.Id" name="animalId" id="animalIdFav" />
                <input type="hidden" value="@Model.Name" name="animalName" id="animalNameFav" />
                <input type="hidden" value="@UserManager.GetUserId(User)" name="userId" id="userIdFav" />
                <input type="hidden" value="@Model.Image" name="animalImage" id="animalImageFav" />
                <button type="button" class="btn" onclick="sendFavorite()">
                </button>
            </form>
            <div id="adoptionForm" style="display:none">
                <section class="mb-4">
                    <h2 class="h1-responsive font-weight-bold text-center my-4">Adoption Details</h2>
                    <div class="row">
                        <div class="col-md-10 mb-md-0 mb-5">
                            <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                                <input type="hidden" value="@Model.Id" name="animalId" id="animalId" />
                                <input type="hidden" value="@Model.Name" name="animalName" id="animalName" />
                                <input type="hidden" value="@UserManager.GetUserId(User)" name="userId" id="userId" />
                                <input type="hidden" value="@User.Identity.Name" name="userName" id="userName" />
                                <input type="hidden" value="@Model.ShelterId" name="shelterId" id="shelterId" />
                                <input type="hidden" value="@Model.Image" name="animalImage" id="animalImage" />
                                <input type="hidden" value="Pending" name="status" id="status" />

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="fname" class="">First Name</label>
                                            <input type="text" id="fname" name="fname" class="form-control">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="lname" class="">Last Name</label>
                                            <input type="text" id="lname" name="lname" class="form-control">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="md-form mb-0">
                                            <label for="phone" class="">Your phone number</label>
                                            <input type="text" id="phone" name="phone" class="form-control">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            <label for="email" class="">Your email</label>
                                            <input type="text" id="email" name="email" class="form-control">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form">
                                            <label for="message">Your message</label>
                                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>

                                        </div>

                                    </div>
                                </div>
                            </form>
                            <div class="text-center text-md-left">
                                <a class="btn btn-primary" onclick="validateFormData()">Send</a>
                            </div>
                            <div class="status"></div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>

</section>
@section Scripts{
    <script src="~/js/adopt.js"></script>
    <script src="~/js/favorite.js"></script>
}