@model PetApp.Models.Animal
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
</div>
<section>
    <div style="padding:0px 300px;" class="card detailed-view">
        <br><br>
        <div class="row">
            <img class="" style="float: left" width="450" height="485"
                 src="@Model.Image" />
            <div class="col col-twothird" style="  padding-top: 87px;
    padding-left: 60px;
    width: 35%;">
                <h2>@Model.Name</h2>
                <p class="small grayed">
                    @Model.Breed<span class="separator">|</span>
                    @Model.Age<span class="separator">|</span>
                    @Model.Gender
                </p>
                <h6>@Model.Description</h6>
                <h3>About</h3>
                <h4>Size:</h4>
                <h5>@Model.Size</h5>
                <h4>Coat length:</h4>
                <h5>@Model.Hair</h5>
                <h4>Characteristics:</h4>
                <h5>@String.Join(", ", Model.Characteristics)</h5>
                @*<h4>Gets along with: </h4>
                <h5>@String.Join(", ", Model.GetsAlongWith)</h5>*@
            </div>
        </div>
    </div>
</section>
