@model PetApp.Models.ShelterWithLocation
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

<div class="text-center">
</div>
<div class="container all_animals">
    <br />
    <h3 style="text-align:center"><b>OUR ANIMALS</b></h3>
    <hr />
    <div class="row col-xs-12 margin0">

        @foreach (var animal in Model.Animals)
        {
            <div class="col-xs-12 col-sm-3">
                <div class="card" style="background:url('/Images/Animals/@animal.Image')">
                    <div class="card-description">
                        <p style="text-shadow: 1px 1px 20px black, 1px 1px 20px black, 1px 1px 20px black, 1px 1px 20px black, 1px 1px 20px black, 1px 1px 20px black, 1px 1px 20px black;">@animal.Name</p>
                    </div>
                    <a class="card-link" href="/animal/@animal.Id"></a>
                </div>
            </div>
        }
    </div>
    <br /><hr /><br />

    <div class="row col-xs-12 margin0" >
        <h5 style="margin-left: 450px;">Find us here!</h5>
        <br /><div class="row col-xs-12 margin0" id="shelterMap" style="height:200px;width:600px;margin-left:200px;"></div>

    </div>

    @section Scripts
{
        <script>
            function initMap() {
                let center = { lat: @Model.Latitude, lng: @Model.Longitude },
                    map = new google.maps.Map(document.getElementById('shelterMap'), {
                        zoom: 12,
                        center: center
                    });
                let infowindow = new google.maps.InfoWindow({content:"@Model.ShelterName" });
                let marker = new google.maps.Marker({
                    position: center,
                    map: map,
                    title: "@Model.ShelterName"
                });
                marker.addListener("click", () => {
                    infowindow.open(map, marker);
                })
        }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfCwCwyeIkDXKo1oriAgm3SxXKpOzIy54&libraries=&v=weekly&callback=initMap"
                type="text/javascript"></script>
    }
